{% extends 'default/default.html' %}
{% load static %}
{% block sidebar %}
    {% include 'partials/_sidebar.html' %}
{% endblock sidebar %}
{% block content %}

<script>
    function link_products() {
        window.location.href = "{% url 'products' %}";
    }
    function link_queries() {
        window.location.href = "{% url 'queries' %}";
    }
    function link_entries() {
        window.location.href = "{% url 'entries' %}";
    }
    function link_exits() {
        window.location.href = "{% url 'exits' %}";
    }
</script>

<section class="bg-gray-50 w-screen">
  
 
      
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 cad-prod">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8 w-full">
                <h2
                    class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl flex flex-col items-center">
                    Cadastro de Produto:
                </h2>
                <form class="space-y-4 md:space-y-4" method="post" action="{% url 'products' %}">
                    {% csrf_token %}
                    <div>
                        <label for="tipo" class="block mb-1 text-sm font-medium text-gray-900">Tipo:</label>
                        <select name="tipo" id="tipo" autofocus="autofocus" required
                            class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg border-red-700 block w-full p-2.5
                             focus:outline focus:outline-0 focus:ring-transparent focus:border-red-700">
                            <option value = "" selected disabled>Selecione uma opção</option>
                            <option value="tenis">Tênis</option>
                            <option value="chinelo">Chinelo</option>
                            <option value="sandalia">Sandália</option>
                            <option value="bota">Bota</option>
                        </select>
                    </div>
                    <div>
                        <label for="fabricante" class="block mb-1 text-sm font-medium text-gray-900">Fabricante:</label>
                        <select name="fabricante" id="fabricante" autofocus="autofocus" required
                            class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg border-red-700 block w-full p-2.5 
                            focus:outline focus:outline-0 focus:ring-transparent focus:border-red-700 cad-prod">
                            <option value = "" selected disabled>Selecione uma opção</option>
                            <option value="adidas">Adidas</option>
                            <option value="asics">Asics</option>
                            <option value="mizuno">Mizuno</option>
                            <option value="nike">Nike</option>
                        </select>

                    </div>
                    <div>
                        <label for="genero" class="block mb-1 text-sm font-medium text-gray-900">Gênero:</label>
                        <select name="genero" id="genero" autofocus="autofocus" required
                            class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg border-red-700 block w-full p-2.5
                             focus:outline focus:outline-0 focus:ring-transparent focus:border-red-700">
                            <option value = "" selected disabled>Selecione uma opção</option>
                            <option value="masculino">Feminino</option>
                            <option value="feminino">Masculino</option>
                            <option value="unissex">Unissex</option>
                        </select>
                    </div>
                    <div>
                        <label for="modelo" class="block mb-1 text-sm font-medium text-gray-900">Modelo:</label>
                        <input name="modelo" id="modelo" autofocus="autofocus" required
                            class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg border-red-700 block w-full p-2.5 focus:outline focus:outline-0 focus:ring-transparent focus:border-red-700"
                            placeholder="Nike Air, Addidas Grand Court " >
                    </div>
                    <div>
                        <label for="cor" class="block mb-1 text-sm font-medium text-gray-900">Cor:</label>
                        
                        <select name="cor" id="cor" autofocus="autofocus" required
                            class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg border-red-700 block 
                            w-full p-2.5 focus:outline focus:outline-0 focus:ring-transparent focus:border-red-700">
                           
                            <option value = "" selected disabled>Selecione uma opção</option>
                            <option value="preto">Preto</option>
                            <option value="amarelo">Amarelo</option>
                            <option value="azul">Azul</option>
                            <option value="branco">Branco</option>
                            <option value="laranja">Laranja</option>
                            <option value="verde">Verde</option>
                            <option value="vermelho">Vermelho</option>
                        </select>
                    </div>
                    <div>
                        <label for="tamanho" class="block mb-1 text-sm font-medium text-gray-900">Tamanho:</label>
                        <select name="tamanho" id="tamanho" autofocus="autofocus" required
                            class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg border-red-700 block w-full p-2.5 focus:outline focus:outline-0 focus:ring-transparent focus:border-red-700">
                            <option value = "" selected disabled>Selecione uma opção</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                        </select>
                        </div>
                        <div>
                            <label for="description" class="block mb-1 text-sm font-medium text-gray-900">Descrição</label>
                            
                            <input name="description" id="description" autofocus="autofocus"
                                class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg border-red-700 block w-full p-2.5 focus:outline focus:outline-0 focus:ring-transparent focus:border-red-700"
                                placeholder="Digite a descrição" >
                        </div>
                    </div></div>




                    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 cad-prod">
                        <div class="p-6 space-y-4 md:space-y-6 sm:p-8 w-full">
                            <h2
                        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl flex flex-col items-center">
                        Informações Fiscais:
                    </h2>
<div>
                    <label for="ncm" class="block mb-1 text-sm font-medium text-gray-900">Consulte o NCM do Produto</label>
                        <input type="text" id="descricaoInput"  autofocus="autofocus"       class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg border-red-700 block w-full   
                            p-2.5 focus:outline focus:outline-0 focus:ring-transparent focus:border-red-700"
                         placeholder="Digite calçado e clique em pesquisar">
                         </input>
</div>

<div>
    <button  class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 
    focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" onclick="fetchNCM()">Pesquisar</button>

</div>

<div>
                         <label for="ncm" class="block mb-1 text-sm font-medium text-gray-900">Clique e Escolha o NCM:</label>
                        
                        
                        <select name="ncm" for="ncm" id="ncmDropdown"  autofocus="autofocus" maxlength = "8" required
                            class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg 
                            border-red-700 block w-full p-2.5 focus:outline focus:outline-0 focus:ring-transparent focus:border-red-700"
                            placeholder="Digite o NCM" ></select>
                                                      
                            </div>

                            
                            <div>
                             <label for="ncm" class="block mb-1 text-sm font-medium text-gray-900">Digite o NCM do Produto, que você pesquisou acima.</label>

                            <input  name="ncm" for="ncm" id="ncm"  autofocus="autofocus" maxlength = "8" required
                            class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg 
                            border-red-700 block w-full p-2.5 focus:outline focus:outline-0 focus:ring-transparent focus:border-red-700"
                            placeholder="Digite o NCM, apenas números" ></input>
                            


                            </div>


                   

                    <div>
                        <label for="gtin" class="block mb-1 text-sm font-medium text-gray-900">GTIN/EAN</label>
                       
                        <input name="gtin" id="gtin" autofocus="autofocus" maxlength = "13" required
                            class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg border-red-700 block w-full p-2.5 focus:outline focus:outline-0 focus:ring-transparent focus:border-red-700"
                            placeholder="Digite o GTIN" >
                    </div>
                    
                    
                    
                    <button type="submit"
                        class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 
                        focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Cadastrar</button>

                    {% for k, v in form.errors.items %}
                        {{ v }}
                    {% endfor %}
                

                   
                    


<script src="{% static '/script.js' %}"></script>



</form>
    </div>
</section>


<script>
    const form = document.querySelector('form');
  
    form.addEventListener('submit', async (event) => {
      event.preventDefault();
  
      const formData = new FormData(form);
      const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  
      try {
        const response = await fetch('', {
          method: 'POST',
          headers: {
            'X-CSRFToken': csrfToken,
          },
          body: formData,
        });
  
        if (response.ok) {
          alert('Cadastro realizado com sucesso!');
          window.location.href = "{% url 'products' %}";
        } else {
          console.error('Erro ao cadastrar');
        }
      } catch (error) {
        console.error(error);
      }
    });
  </script>






{% endblock content %}