{% extends 'default/default.html' %}
{% load static %}

{% block sidebar %}
    {% include 'partials/_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
    {% comment %} CODIGO DO EXITS {% endcomment %}
    
    
<!-- Inicio Saída-->

<script>
    function link_products() {
        window.location.href = "{% url 'products' %}";
    }
    function link_queries() {
        window.location.href = "{% url 'queries' %}";
    }
    function link_entries() {
        window.location.href = "{% url 'entries' %}";
    }
    function link_exits() {
        window.location.href = "{% url 'exits' %}";
    }
</script>

<section class="bg-gray-50 w-screen">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="{% url 'signin' %}" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
            <img class="w-72 mr-2" src="{% static 'default_images/h_logo_450.png' %}"
                alt="logo">
        </a>
        <div
            class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1
                    class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl flex flex-col items-center">
                    Saídas:
                </h1>
                <form class="space-y-4 md:space-y-4" method="post" action="{% url 'exits' %}">
                    {% csrf_token %}
                
                    <div>
                        <label for="gtin" class="block mb-1 text-sm font-medium text-gray-900">GTIN/EAN:</label>
                        <input name="gtin" id="gtin" autofocus="autofocus" maxlength = "13"
                            class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg border-red-700 block w-full p-2.5 focus:outline focus:outline-0 focus:ring-transparent focus:border-red-700"
                            placeholder="GTIN/EAN" >
                    </div>
                    <button type="submit"
                        class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Registrar</button>
                    {% for k, v in form.errors.items %}
                        {{ v }}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    const form = document.querySelector('form');
  
    form.addEventListener('submit', async (event) => {
      event.preventDefault();
  
      const formData = new FormData(form);
      const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  
      try {
        const response = await fetch('', {
          method: 'POST',
          headers: {
            'X-CSRFToken': csrfToken,
          },
          body: formData,
        });
  
        if (response.ok) {
            alert('O produto foi removido com sucesso!');
            window.location.href = "{% url 'exits' %}";
        } else {
            if (response.status === 400) {
                alert('O produto não existe');
                window.location.href = "{% url 'entries' %}";
            } else {
                console.error('Erro desconhecido');
            }  
        }
      } catch (error) {
        console.error(error);
      }
    });
</script>

{% endblock content %}
