{% extends 'default/default.html' %}
{% load static %}

{% block sidebar %}
    {% include 'partials/_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<div class="h-full w-full bg-white rounded-sm shadow-2xl shadow-slate-300 p-5">
    <h1 class="font-bold text-xl">Dashboard</h1>
    <hr class="my-2">
    <!-- <div>
        {{ tabela_html|safe }}
    </div> -->
    <div style="display: flex; justify-content: space-between;">
        <img src="{{ imagem_grafico1 }}" alt="Gráfico de Colunas por Fabricantes" style="width: 50%; height: 50%;">
        <img src="{{ imagem_grafico2 }}" alt="Gráfico de Colunas por Gênero" style="width: 50%; height: 50%;">
    </div>
</div>

{% endblock content %}