{% extends 'default/default.html' %}
{% load static %}

{% block sidebar %}
    {% include 'partials/_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<div class="h-full w-full bg-white rounded-sm shadow-2xl shadow-slate-300 p-5">
    <h1 class="font-bold text-xl">Entradas e Saídas</h1>
    <hr class="my-2">
    <div class="w-full">
        <form action="{% url "transaction_create" %}" method="post">
            {% csrf_token %}
            {% if msg and class == 'alert' %}
            <div class="w-full flex items-center justify-center my-4">
                <div id="toast-default" class="flex items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
                    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
                        <i class="ri-alarm-warning-line"></i>
                        <span class="sr-only">Icone de alerta</span>
                    </div>
                    <div class="ms-3 text-sm font-normal">{{ msg }}</div>
                    <button type="button" class="ms-auto bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-default" aria-label="Close">
                        <span class="sr-only">Fechar</span>
                        <i class="ri-close-line"></i>
                    </button>
                </div>
            </div>
            {% elif msg and class == 'success' %}
            <div class="w-full flex items-center justify-center my-4">
                <div id="toast-default" class="flex items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
                    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                        <i class="ri-alarm-warning-line"></i>
                        <span class="sr-only">Icone de alerta</span>
                    </div>
                    <div class="ms-3 text-sm font-normal">{{ msg }}</div>
                    <button type="button" class="ms-auto bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-default" aria-label="Close">
                        <span class="sr-only">Fechar</span>
                        <i class="ri-close-line"></i>
                    </button>
                </div>
            </div>
            {% endif %}
            <div class="grid grid-cols-3 gap-3">
                <div class="flex flex-col gap-2">
                    <label for="transaction">Tipo de transação*</label>
                    <select name="transaction" id="transaction" autofocus="autofocus" required
                        class="bg-gray-50 text-gray-900 rounded-lg border-slate-400 block w-full p-2.5 focus:outline focus:outline-0 focus:ring-transparent focus:border-slate-500">

                        <option value="entrada" selected>Entrada</option>
                        <option value="saida">Saída</option>

                    </select>
                </div>
                <div class="flex flex-col gap-2">
                    <label for="gtin">GTIN/EAN*</label>
                    <input type="text" name="gtin" id="modelo" autofocus="autofocus" required placeholder="GTIN/EAN"
                        class="bg-gray-50 text-gray-900 rounded-lg border-slate-400 block w-full p-2.5 focus:outline focus:outline-0 focus:ring-transparent focus:border-slate-500">
                </div>
                <div class="flex flex-col gap-2">
                    <label for="qtd">Quantidade*</label>
                    <div class="flex gap-2">
                        <input type="number" min="0" name="qtd" id="modelo" autofocus="autofocus" required value="0"
                            class="bg-gray-50 text-gray-900 rounded-lg border-slate-400 block w-full p-2.5 focus:outline focus:outline-0 focus:ring-transparent focus:border-slate-500">
                        <button type="submit" class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none transition-colors duration-200 focus:ring-red-700 rounded-lg text-sm px-5 py-2.5 text-center">Registrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr class="my-2">
    <div class="w-full text-sm my-4 gap-4">
        <span class="text-lg font-semibold text-left  text-gray-900 bg-white">
            Histórico de movimentações
        </span>
        <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
            A tabela "Historico de movimentações" armazena informações sobre todas as movimentações de entradas e saídas do estoque da uma empresa StockFlow.
        </p>
    </div>
    <div class="w-full max-h-96 overflow-auto">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Descrição
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Tipo
                        </th>
                        <th scope="col" class="px-6 py-3">
                            GTIN/EAN
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Data
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Hora
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Quantidade
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Estoque Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                        {% for transacao in produto.transacoes %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ produto.descricao }}
                                </th>
                                <td class="px-6 py-4">
                                    {{ transacao.transaction_type }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ produto.gtin }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ transacao.transaction_date|date:"d/m/Y" }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ transacao.transaction_date|time:"H:i:s" }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ transacao.quantity }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ produto.qtdproduto }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}   
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
